
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% block pageTitle %}
  Snippets | Rich text editors | Trumbowyg
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="trumbowyg/dist/ui/trumbowyg.min.css">
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <span class="govuk-caption-l">Rich text editors</span>
        <h1 class="govuk-heading-xl">Trumbowyg</h1>
              
        <textarea id="trumbowyg-demo">You can’t think yourself out of a writing block; you have to write yourself out of a thinking block.</textarea>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <a href="https://alex-d.github.io/Trumbowyg" class="govuk-link govuk-body-m">Visit Trumbowyg website</a>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>

<script src="/public/javascripts/trumbowyg.min.js"></script>

<script>
  $('#trumbowyg-demo').trumbowyg({
    btns: [['strong', 'em',], ['insertImage']],
    autogrow: true
  });
  $.trumbowyg.svgPath = '/assets/my-custom-path/icons.svg';
</script>

{% endblock %}
