
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% block pageTitle %}
  Snippets | Task list | Highlights
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Highlights</h1>

      <h2 class="govuk-heading-m">Rationale</h2>
      
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Details of the change</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-highlight__completed">Completed</span>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Consultation and local support</h2>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Evidence of consultation</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-highlight__not-started">Not started</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Summary of responses</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-highlight__in-progress">In progress</span><span class="tag-highlight__mono">Pre HTB</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Evidence of support from local authority</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-highlight__not-started">Not started</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Evidence of planning permission</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-highlight__incomplete">Incomplete</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Displacement of pupils</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-highlight__in-progress">In progress</span>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Declaration and submission</h2>
      
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Declaration</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-highlight__cannot-start-yet">Cannot start yet</span>
          </dd>
        </div>

      </dl>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible section-break-bar">

      <h2 class="govuk-heading-m">Roles</h2>
      
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Trustee details</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-highlight__not-started">Not started</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Employer details</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-highlight__completed">Completed</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Employer membership</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-highlight__incomplete">Update required</span><span class="tag task-list-tag tag-highlight__in-progress">In progress</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Service provider details</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-highlight__completed">Completed</span>
          </dd>
        </div>

      </dl>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible section-break-bar">

      <h2 class="govuk-heading-l">What about it?</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Subtler than the current tag options, and simple to reproduce with no accessibility issues</li>
        <li>Both text and background are coloured</li>
        <li>"Completed" and "Cannot start yet" have no highlight</li>
        <li>Colour options shown here are AAA WCAG compliant</li>
        <li>Completed sections are given <i>less</i> emphasis rather than more.</li>
      </ul>

    </div>
  </div>

{% endblock %}
