
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% block pageTitle %}
  Snippets | Task list | Brackets
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Highlights</h1>

      <h2 class="govuk-heading-m">Rationale</h2>
      
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value list-starter">
            <a href="#" class="govuk-link">Details of the change</a>
          </dd>
          <dd class="govuk-summary-list__actions list-starter">
            <span class="tag task-list-tag tag-brackets__completed tag-brackets-brackets">Completed</span>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Consultation and local support</h2>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value list-starter">
            <a href="#" class="govuk-link">Evidence of consultation</a>
          </dd>
          <dd class="govuk-summary-list__actions list-starter">
            <span class="tag task-list-tag tag-brackets__not-started tag-brackets-brackets">Not started</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Summary of responses</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-brackets__in-progress tag-brackets-brackets">In progress</span><span class="tag-brackets-brackets">Pre HTB</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Evidence of support from local authority</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-brackets__not-started tag-brackets-brackets">Not started</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Evidence of planning permission</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-brackets__incomplete tag-brackets-brackets">Incomplete</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Displacement of pupils</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-brackets__in-progress tag-brackets-brackets">In progress</span>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Declaration and submission</h2>
      
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value list-starter">
            <a href="#" class="govuk-link">Declaration</a>
          </dd>
          <dd class="govuk-summary-list__actions list-starter">
            <span class="tag task-list-tag tag-brackets__cannot-start-yet tag-brackets-brackets">Cannot start yet</span>
          </dd>
        </div>

      </dl>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible section-break-bar">

            <h2 class="govuk-heading-m">Rationale</h2>
      
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value list-starter">
            <a href="#" class="govuk-link">Details of the change</a>
          </dd>
          <dd class="govuk-summary-list__actions list-starter">
            <span class="tag task-list-tag tag-brackets__completed">Completed</span>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Consultation and local support</h2>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value list-starter">
            <a href="#" class="govuk-link">Evidence of consultation</a>
          </dd>
          <dd class="govuk-summary-list__actions list-starter">
            <span class="tag task-list-tag tag-brackets__not-started">Not started</span><span class="tag-brackets-brackets">Pre HTB</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Summary of responses</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-brackets__in-progress tag-brackets-brackets">In progress</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Evidence of support from local authority</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-brackets__not-started">Not started</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Evidence of planning permission</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-brackets__incomplete tag-brackets-brackets">Incomplete</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Displacement of pupils</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-brackets__in-progress tag-brackets-brackets">In progress</span>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Declaration and submission</h2>
      
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value list-starter">
            <a href="#" class="govuk-link">Declaration</a>
          </dd>
          <dd class="govuk-summary-list__actions list-starter">
            <span class="tag task-list-tag tag-brackets__cannot-start-yet">Cannot start yet</span>
          </dd>
        </div>

      </dl>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible section-break-bar">

      <h2 class="govuk-heading-m">What about it?</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Each tag is colour highlighted to WCAG AA standard</li>
        <li>Originally the idea was for all tags ot be bracketed, but do only specific tags need the brackets to direct attention?</li>
      </ul>

    </div>
  </div>

{% endblock %}
