
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% block pageTitle %}
  Snippets | Task list | Flagged
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Flagged</h1>

      <h2 class="govuk-heading-l">v1: All the flags</h2>

      <h3 class="govuk-heading-m">Rationale</h3>
      
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value list-starter">
            <a href="#" class="govuk-link">Details of the change</a>
          </dd>
          <dd class="govuk-summary-list__actions list-starter">
            <span class="tag task-list-tag tag-flagged__completed tag-minimalFlag">Completed</span>
          </dd>
        </div>

      </dl>

      <h3 class="govuk-heading-m">Consultation and local support</h3>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value list-starter">
            <a href="#" class="govuk-link">Evidence of consultation</a>
          </dd>
          <dd class="govuk-summary-list__actions list-starter">
            <span class="tag task-list-tag tag-flagged__not-started tag-flag">Not started</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Summary of responses</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-flagged__in-progress tag-flag">In progress</span><span class="tag-minimalFlag">Pre HTB</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Evidence of support from local authority</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-flagged__not-started tag-flag">Not started</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Evidence of planning permission</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-flagged__incomplete tag-flag">Incomplete</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Displacement of pupils</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-flagged__in-progress tag-flag">In progress</span>
          </dd>
        </div>

      </dl>

      <h3 class="govuk-heading-m">Declaration and submission</h3>
      
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value list-starter">
            <a href="#" class="govuk-link">Declaration</a>
          </dd>
          <dd class="govuk-summary-list__actions list-starter">
            <span class="tag task-list-tag tag-flagged__cannot-start-yet tag-minimalFlag">Cannot start yet</span>
          </dd>
        </div>

      </dl>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible section-break-bar">

      <h2 class="govuk-heading-l">v2: Minimal flags</h2>

      <h3 class="govuk-heading-m">Rationale</h3>
      
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value list-starter">
            <a href="#" class="govuk-link">Details of the change</a>
          </dd>
          <dd class="govuk-summary-list__actions list-starter">
            <span class="tag task-list-tag tag-flagged__completed">Completed</span>
          </dd>
        </div>

      </dl>

      <h3 class="govuk-heading-m">Consultation and local support</h3>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value list-starter">
            <a href="#" class="govuk-link">Evidence of consultation</a>
          </dd>
          <dd class="govuk-summary-list__actions list-starter">
            <span class="tag task-list-tag tag-flagged__not-started  tag-flag">Not started</span><span>Pre HTB</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Summary of responses</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-flagged__in-progress tag-flag">In progress</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Evidence of support from local authority</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-flagged__not-started  tag-flag">Not started</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Evidence of planning permission</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-flagged__incomplete tag-flag">Incomplete</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Displacement of pupils</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <span class="tag task-list-tag tag-flagged__in-progress tag-flag">In progress</span>
          </dd>
        </div>

      </dl>

      <h3 class="govuk-heading-m">Declaration and submission</h3>
      
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value list-starter">
            <a href="#" class="govuk-link">Declaration</a>
          </dd>
          <dd class="govuk-summary-list__actions list-starter">
            <span class="tag task-list-tag tag-flagged__cannot-start-yet">Cannot start yet</span>
          </dd>
        </div>

      </dl>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible section-break-bar">

      <h2 class="govuk-heading-l">What about it?</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Each tag is colour highlighted to WCAG AAA standard</li>
        <li>Originally the idea was for all tags to be flagged, but do only specific tags need flags to direct attention?</li>
        <li>"Minimal" flag option helps to distinguish tags and seperate them</li>
      </ul>

    </div>
  </div>

{% endblock %}
