
{% extends "layout.html" %}

{% block pageTitle %}
  Snippets | Steve O'Connor
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Snippets</h1>

      <p class="govuk-body-l">A code sketchbook of ideas and tryouts.</p>

      <!-- Task list -->
      <a class="card__link" href="task-list.html">
      <div class="card">
        <div class="card__content">
          <h2 class="govuk-heading-m card__heading">Task list</h2>
          <p class="card__description">
            Work done as part of a cross-gov team working on new task list component, patterns, and guidance.
          </p>
        </div>
      </div>
      </a>


      <!-- Rich text -->
      <a class="card__link" href="rich-text-editors.html">
      <div class="card">
        <div class="card__content">
          <h2 class="govuk-heading-m card__heading">Rich text areas</h2>
          <p class="card__description">
            Demos of third-party rich text editors
          </p>
        </div>
      </div>
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Etcetera</h2>
      
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="rich-text/expanding-text-area" class="govuk-link">Expanding text area</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>
  </div>

{% endblock %}
