
{% extends "layout.html" %}

{% block pageTitle %}
  Snippets | Steve O'Connor
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Snippets</h1>
      <p class="govuk-body-l">A code sketchbook of ideas and tryouts.</p>

      <h2 class="govuk-heading-m">Project: Task list</h2>
      <h3 class="govuk-heading-s">Tags</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="highlights" class="govuk-link">Highlights</a></li>
        <li><a href="brackets" class="govuk-link">Brackets</a></li>
        <li><a href="flagged" class="govuk-link">Flagged</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
