
{% extends "layout.html" %}

{% block pageTitle %}
  Snippets | Steve O'Connor
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Snippets</h1>

      <p class="govuk-body-l">A code sketchbook of ideas and tryouts.</p>

      <!-- TAGS -->

      <h2 class="govuk-heading-m">Project: Task list component, patterns, and guidance</h2>
      <h3 class="govuk-heading-s">Tags</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="task-list/highlights" class="govuk-link">Highlights</a></li>
        <li><a href="task-list/brackets" class="govuk-link">Brackets</a></li>
        <li><a href="task-list/flagged" class="govuk-link">Flagged</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!-- Rich text -->

      <h2 class="govuk-heading-m">Project: Rich text area</h2>
      
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="rich-text/quill" class="govuk-link">Quill</a></li>
        <li><a href="rich-text/trumbowyg" class="govuk-link">Trumbowyg</a></li>
        <li><a href="rich-text/tinymce" class="govuk-link">TinyMCE</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Etcetera</h2>
      
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="rich-text/expanding-text-area" class="govuk-link">Expanding text area</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>
  </div>

{% endblock %}
