
{% extends "layout.html" %}

{% block pageTitle %}
  Prototyping examples
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Prototyping examples</h1>

      <p class="govuk-body-l">Examples and tips for using the <a href="https://govuk-prototype-kit.herokuapp.com/">GDS prototyping kit</a>.</p>

      <h2 class="govuk-heading-l">Passing data</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="multiple_radios_questions">Multiple radios</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
